body {
    background-color: #bfae9d;
    font-family: "Michroma", sans-serif;
    margin: 0%;
    cursor:
        url(/images/cursor_1.gif),
        auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title {
    color: hsl(133, 7%, 10%);
    font-style: italic;
    font-family: "Rubik Glitch", system-ui;
    font-size: 90px;
    margin-top: 0px;
    margin-bottom: 10px;
}

h3 {
    font-weight: normal;
}

p {
    margin: 20px;
}

a:link {
    color: hsl(133, 7%, 15%);
    text-decoration: none;
}

a:visited {
    color: hsl(133, 7%, 15%);
}

a:hover {
    color: hsl(133, 7%, 30%);
    cursor: url(/images/cursor_3.gif),
        auto;
}

/* navigation cards */

.nav {
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 10px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Michroma", sans-serif;
    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
    margin-top: 50px;
    width: 500px;
    height: 250px;
}

#map_page {
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 10px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Michroma", sans-serif;
    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
    margin-top: 50px;
    width: 500px;
    height: 250px;
}

#map_page:hover {
    background-color: #869a9e;
    cursor: url(/images/cursor_3.gif),
    auto;
}
.nav:hover {
    background-color: #869a9e;
    cursor: url(/images/crash_empty.gif), 
    auto;
}

.gaps {
    flex-wrap: wrap;
    gap: 50px;
}

.imgnav {
    width: 150px;
    height: 150px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    gap: 10px;
}

.footer_width {
    width: 30px;
    height: 30px;
}

.footer_icons:hover {
    /* display: block; */
    background: rgba(0, 0, 0, 0);
}