body {
    background-color: #869a9e;
    font-family: "Michroma", sans-serif;
    margin: 0%;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-family: "Rubik Glitch", system-ui;
    font-size: 90px;
    height: 500px;
}
/* 
h3 {
    font-weight: normal;
}

p {
    margin: 20px;
}
*/

#backbutton {
    background-image: url('/images/back_normal.png');
    height: 50px;
    width: 70px;
    background-size: cover;
}

#backbutton:hover {
    background-image: url('/images/back.png');
    height: 50px;
    width: 70px;
    background-size: cover;
}